@font-face{
	font-family: BebasNeue;
	src : url('../fonts/BebasNeue.otf');
}

@font-face{
	font-family: CWMLigth;
	src:url('../fonts/CWM_Light.otf');
}

@font-face{
	font-family: BebasNeue-Regular;
	src:url('../fonts/BebasNeue_Regular.otf');
}

#landing-video{
  background-image: url('../img/fondo-video.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 560px;
  width: 100%;
}
#landing-video .title-landing-video{
	color:#1c1c1c;
	line-height: 60px;
	padding-top: 60px;
	font-family: CWMLigth;
	font-size: 75.15px;
}
#landing-video .description-landing-video{
	color: #333333;
	font-family: CWMLigth;
	font-size: 24.03px;
	margin-bottom: 110px;
}
#landing-blockthumb .container{
	/*height: 490px;*/
	padding-right: 3px;
	padding-left: 3px;
}
#landing-blockthumb .col-md-3 ,#landing-blockthumb .col-sm-3 {
	padding: 5px 3px 50px 3px;
}
.inner-blockthumb{
	background-color: #ffffff;
	margin-top: -60px;
}
.block-thumb{
	background-color: #222222;
	color:#fff;
	height: 430px;
}
.block-thumb .title-block-thumb{
	color: #fdcc01;
	font-family: CWMLigth;
	font-size: 33px;
	padding-top: 50px;
	padding-bottom: 30px;
}
.block-thumb .description-block-thumb{
	color: #ffffff;
	font-family: CWMLigth;
	font-size: 18px;
	padding: 10px 20px;
}
.block-thumb .block-img-thumb{
	/*width: 100%;*/
	width: 169px;
	height: 120px;
	margin-top: 40px;
}
.srx{
  background-color: #130f0f;
  background-image: url('../img/srx-general.jpg');/*Esta imagen la he cortado yo */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 669px;
  width: 100%;
}

.srx-title,.itech-title,.ergo-title,.ergo-lite-title{
	text-align: center;
	color:#b7b8b9;
	font-family: CWMLigth;
	font-size: 120px;
}

.srx-more,.itech-more,.ergo-more,.ergo-lite-more{
	width: 100%;
}

.srx-more .src-more-title,.itech-more .itech-more-title,.ergo-more .ergo-more-title,.ergo-lite-more .ergo-lite-more-title{
	color:#222222;
	font-family: CWMLigth;
	font-size: 25.28px;
}

.block-srx-more,.block-itech-more,.block-ergo-more,.block-ergo-lite-more,.block-ergo-lite-more{
	padding-top: 60px;
}

.block-srx-more img,.block-itech-more img,.block-ergo-more img,.block-ergo-lite-more img{
	padding-bottom: 30px;
}
.srx-more .btnhere-src-more,.itech-more .btnhere-itech-more,.ergo-more .btnhere-ergo-more,.ergo-lite-more .btnhere-ergo-lite-more{
	background-color: #fdcc01;
	color: #000000;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 18px;
	padding-right: 18px;
	font-family: CWMLigth;
	font-size: 25.28px;
}
.containerbtn{
	padding: 30px 0px;	
}

.form-contact .btnsubmit-form{
	background-color: #fdcc01;
	border:0px;
	color: #000000;
	font-family: CWMLigth;
	font-size: 29px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 60px;
	padding-right: 60px;
}

.form-contact .title-form-contact{
	color:#000000;
	font-family: CWMLigth;
	font-size: 40px;
	padding: 30px 0px 10px 0px;
}
.form-contact input[type="text"],.form-contact input[type="email"]{
	padding: 24px 12px;
}

.form-contact input[type="text"],.form-contact input[type="email"],.form-contact textarea{
	background-color: #000000;
	color: #ffffff;
	font-family: CWMLigth;
	font-size: 25px;
}

.form-contact .form-group:last-child{
	margin-bottom: 60px;
}

.css-placeholder::-webkit-input-placeholder { color: white; } /* WebKit */
.css-placeholder:-moz-placeholder { color: white; } /* Firefox 18- */
.css-placeholder::-moz-placeholder { color: white; } /* Firefox 19+ */
.css-placeholder:-ms-input-placeholder { color: white; } 

.feat-tech{ background-color: #000000;}
.feat-tech .title-feat-tech{
	color: #fdcc01;
	text-align: center;
	font-family: CWMLigth;
	font-size: 36px;
	padding: 30px 0px;
}
.feat-tech .item-feat-tech{
	margin: 10px auto 70px auto;
	width: 188px;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.feat-tech .itemtit-feat-tech{
	font-family: CWMLigth;
	font-size: 16.02px;
	padding: 20px 0px;
}
.item-feat-tech img{
	width: 111px;
	/*height: 62px;*/
}
.feat-tech .itemdes-feat-tech{
	font-family: BebasNeue-Regular;
	font-size: 18.1px;
	padding: 20px 24px;
}



@media only screen and (min-width : 240px) and (max-width : 480px) {
	#landing-video .title-landing-video{
		font-size: 60px;
	}
	#landing-video .description-landing-video{
		font-size: 20px;
	}
}

@media only screen and (max-width : 320px) {
	#landing-video .title-landing-video{
		font-size: 40px;
	}
	#landing-video .description-landing-video{
		font-size: 16px;
	}
}

@media only screen and (max-width: 991px){
	.feat-tech .item-feat-tech{
		width: 100%;
	}
}

@media only screen and (max-width: 768px){
	.srx-title,.itech-title,.ergo-title,.ergo-lite-title{
		font-size: 80px;
	}
}		
@media only screen and (max-width: 540px){
	.srx-title,.itech-title,.ergo-title,.ergo-lite-title{
		font-size: 40px;
	}
}	

@media only screen and (max-width: 240px){
	.block-srx-more img, .block-itech-more img, .block-ergo-more img, .block-ergo-lite-more img{
		width: 100%;
	}
	.srx-title,.itech-title,.ergo-title,.ergo-lite-title{
		font-size: 22px;
	}
	.srx-more .btnhere-src-more, .itech-more .btnhere-itech-more, .ergo-more .btnhere-ergo-more, .ergo-lite-more .btnhere-ergo-lite-more{
		padding: 6px 12px;
		font-size: 20px;
	}
	.srx-more .src-more-title, .itech-more .itech-more-title, .ergo-more .ergo-more-title, .ergo-lite-more .ergo-lite-more-title{
		font-size: 20px;
	}
}